/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    color: #070707;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/******************carrito de compras************/
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 50%;
    margin-left: 20%;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 14px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}
/************************Header *************************/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}
.tittle{
    color: #d26a08;
}


.nav__active {
    background-color: rgb(223, 110, 29);
}

/********************modal carrito de compras***********/
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.quantity-button{
    background-color: #d26a08;
    font-size: 20px;
    margin: 8px;
    padding: 7px;
}

/************************** Main= card ***********************/
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 18px;
}

.item:hover{
    box-shadow: 0 10px 20px #d26a08;
}

.item img{
    width: 50%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.7);
}
/***************DESCRIPTION CARD********************/
.info-product{
    padding: 15px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
}

.description{
    color: rgb(103, 97, 97);
    font-size: 12px;
}

.price{
    font-size: 20px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #1b4095;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    border-radius: 12px;
}
.info-product button:hover{
    background-color:  #d26a08;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}

/***********BOTON VACIAR CARRITO************/

.btn-clear-all{
    border: none;
    background-color: #1b4095;
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
}

.btn-clear-all:hover{
    background-color: #db0909;
    transform: scale(1.03);
    border-radius: 0;
}

/*************NAVBAR**********/
.navbar {
    display: flex;
    gap: 35%;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-content: space-around;
}
.navbar a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
 /**************************FORMULLARIO DE CONTACTO**************/

.tittle_form{
    text-align:  center;
    margin-bottom: 7px;
}

 .login-box {
    padding: 20px;
    background: #1b4095;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box input, textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background:  #d26a08;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px  #d26a08,
                0 0 25px  #d26a08,
                0 0 50px  #d26a08,
                0 0 100px  #d26a08;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,  #d26a08);
    animation: btn-anim1 2s linear infinite;
  }

  /*******************mensaje de error en formulario*************/
  .error-message {
    color: rgba(220, 6, 6, 0.769);
    font-size: 18px;
    font-weight: bold;
  }

  /*************************Formulario de Alta********************/
  .form_alta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow: hidden;
  }

  .form_alta label, input{
    font-weight: bold;
  }

  .form_container{
    display: grid;
    place-items: center;
    margin: auto;
    margin-top: 15px;
    width: 70vw;
    height: 70vh;
    padding: 10px;
    box-shadow: 3px 4px 3px rgba(223, 124, 2, 0.862);
  }

    input#nombre,
    input#precio,
    input#stock,
    input#description{
    margin: 15px 20px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 3px;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    height: 25px;
}

/*****************NOSOTROS**********/
.nosotros{
    display: flex;
    padding: 30px 0px;
    text-align: center;
    font-size: 14px;
    margin:20px auto;
    line-height: 1.3;
    width: 50%;
}



.nosotros img {
    float: left; 
    margin-right: 20px; 
    width: 40%;
}

.nosotros p {
    margin: 30px; 
}


/*prueba modal*/

.cart-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 500px;
    margin-top: 30px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 70px;
    color: #333;
  }
  
  .row-product {
    display: flex;
    flex-direction: column;
  }
  
  .delete-button {
    cursor: pointer;
    color: red;
    margin-top: 5px;
  }
  
  .container-cart-icon{
    cursor: pointer;
  }
  
  