/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    color: #070707;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/******************carrito de compras************/
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 50%;
    margin-left: 20%;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 14px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}
/************************Header *************************/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    font-family: 'Josefin Sans', sans-serif;
}
.tittle{
    color: #d26a08;
}

/********************modal carrito de compras***********/
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

/************************** Main= card ***********************/
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 18px;
}

.item:hover{
    box-shadow: 0 10px 20px #d26a08;
}

.item img{
    width: 50%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.7);
}
/**********description card*****/
.info-product{
    padding: 15px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
}

.description{
    color: rgb(103, 97, 97);
    font-size: 12px;
}

.price{
    font-size: 20px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #1b4095;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    border-radius: 12px;
}
.info-product button:hover{
    background-color: rgb(21, 164, 42);
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}

/****boton vaciar carrito*****/

.btn-clear-all{
    border: none;
    background-color: #1b4095;
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
}

.btn-clear-all:hover{
    background-color: #db0909;
    transform: scale(1.03);
    border-radius: 0;
}

/*navbar*/
.navbar {
    display: flex;
    gap: 35%;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-content: space-around;
}
.navbar a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
